
/*Importing custom fonts*/
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat);



body {
	background:#000 url('../img/danbg.JPG') center center no-repeat fixed;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   padding-top: 50px;
}






#test1{
	position: relative;
		width: 100px;
			height: 100px;
}
#test2{
	display: inline;
	position: relative;
	left: 100px;
	width: 100px;
			height: 100px;
}



.container .row { padding-top: 30px; }


.icons {
	width: 250px;
	margin: 0;
}
.icons i {
	display: block;
	font-size: 24px;
	line-height: 50px; width: 50px;
	text-align: center;
}
.icons a {
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 10px;
	border-radius: 12px;
	position: relative;
}
/*Now we will create fish-eye shapes using pseudo elements and clip them to add a curve to the sides of the icons*/
.icons a:before, .icons a:after {
	content: '';
	position: absolute; left: 0; top: 0;
	width: 100%; height: 100%;
	background: inherit;
	border-radius: 100%; /*circle*/
	/*time to transform the circle into fish-eye shape. iOS7 style now.*/
	transform: scaleX(2) scaleY(1.05);
	/*clipping the left and right sides - 17px from the left and right*/
	clip: rect(0, 33px, 50px, 17px);
	/*pushing it behind the icon*/
	z-index: -1;
}
/*duplicating the :before element and rotating it 90deg and swapping the X/Y transforms*/
.icons a:after {
	transform: scaleY(2) scaleX(1.05) rotate(90deg);
}
/*colors*/
.tw {background: #00ACF0;}
.fb {background: #3B5997;}
.gp {background: #DB4F48;}
.ig {background: #447397;}
.li {background: #007DB8;}
.yt {background: #D12E2E;}

.clip-circle
{
  background:url(URL-of-image) no-repeat;

  height:120px;
  width:120px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}

.box {
	color: #FFF;
	font-size: 54pt;
	font-family: 'Freckle Face', cursive;
}

.box_1{
	float: left;
    width: 140px;
}
.box_2{
	float: left;
    width: 300px;
}

.aboutme_container {

	width: 100%;
	height: 100%;
	color: #FFF;
	text-align: center;
	font-family: 'Freckle Face', cursive;
}

.aboutme_column {

	margin-right: 15px;
	margin-bottom: 50px;
	margin-left: 15px;
	width: 45%;
	float: left;
	position: relative;
	background-color: rgba(0,0,0,0.3);
	height: 100px;

}

.aboutme_column_2 {
	padding: 10px;
	width: 90%;
	margin-bottom: 20px;
	margin-left: 20px;
	position: relative;
	background-color: rgba(0,0,0,0.3);
	height: 100px;
}

.aboutme_column_2 h2{
font-family: 'Freckle Face', cursive;
margin-top: -5px;
color: #222;
text-shadow: 0px 2px 3px #555;
}

.aboutme_column_2 p{
	font-family: 'Give You Glory', cursive;
}

.dans-hero-unit {
	background-color: rgba(0,0,0,0.3);
	color: #FFF;
	padding: 30px;
	box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.dans-hero-unit h3 {
    float: left;
    width: 200px;
    margin-top: 10px;

    border: 2px solid blue;
}

.dans-hero-unit h1 {
	color: #FFF;
	font-size: 54pt;
	font-family: 'Freckle Face', cursive;
}
.dans-hero-unit h2 {
	color: #FFF;
	font-size: 20pt;
	font-family: 'Give You Glory', cursive;
}
.dans-hero-unit p {
	color: #FFF;
	font-size: 80%;
	font-family: 'Julius Sans One', sans-serif;
}

.dans-hero-unit p i {
	color: #000;
}
.dans-hero-unit a {
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 80%;
}

.dans-hero-unit .btn-small i {
	line-height: 12px;
}

.dans-hero-unit hr {
	border-top: 1px solid #333;
    border-bottom: 1px solid #CCC;	
    opacity: 0.25;
}