<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/dannoz.css">
  <title>Dan Noz</title>
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vampiro+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Spicy+Rice' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>




</head>



<body>





  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">noz.today</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="mailto:d.noz80@gmail.com">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>





  <div class="container">
   <div class="row">
    <div class="col-md-12">  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
            </ul>
            <ul class="nav nav-list">
            </ul>
          </div><!--/.well -->
        </div>


        <div class="col-md-6">
          <div class="hero-unit dans-hero-unit">

            <div class="box box_1">
             <img class="clip-circle" src="img/dan.jpg" width=120px height=120px>
           </div>

           <div class="box box_2">
            Dan Noz
          </div>

          <div class="clearfix"></div>


          <h2>Entrepreneur, Travel Lover, Sports Freak / born in Stuttgart, now in London</h2>


          <div class="icons">
            <a href="http://twitter.com/danielnoz" target="_blank" class="tw"><i class="icon-twitter"></i></a>
            <a href="https://www.facebook.com/dan.noz.3"  target="_blank" class="fb"><i class="icon-facebook"></i></a>
            <a href="https://plus.google.com/104080593997888892479" target="_blank" class="gp"><i class="icon-google-plus"></i></a>
            <a href="http://instagram.com/dnoz" target="_blank" class="ig"><i class="icon-instagram"></i></a>
            <a href="uk.linkedin.com/in/danielnoz"  target="_blank" class="li"><i class="icon-linkedin"></i></a>
            <a href="http://www.youtube.com/channel/UCaF2O6u0jlScCYdoAwYV2Fw" target="_blank" class="yt"><i class="icon-youtube"></i></a>
          </div>




          <hr/>





        </div>

      </div>
    </div><!--/row-->
  </div><!--/.fluid-container-->
</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>











  </body>